<main class="[@media(min-width:375x)]:border-4 rounded-4xl h-170 w-[375px] bg-transparent">
  <section class="[@media(min-width:375px)]:border-8 overflow-hidden border-amber-50 rounded-4xl bg-transparent w-full h-full">
    <slot />
  </section>
</main>

